// // цвета 
 $color-main: rgba(34, 38, 42, 1);
 $color-accent: rgba(207, 41, 41, 1);

// // Font Size
 $size-default: 15px;
 $size-secondary: 18px;
 $size-biggest:80px;
 $size-heading:20px;

// / Font Weight
 $weight-reglar: 400;
 $weight-medium:500;
 $weight-semiBold:600;
 $weight-bold:700;

// // container
 $container-size:1140px;
